grant codeBase "file:D:\faculdade\CDP\Exercicio2/ComputeEngine/" {
    permission java.net.SocketPermission "localhost:*", "connect, resolve";
    permission java.net.SocketPermission "localhost:*", "accept";
    permission java.security.AllPermission;
}; 
