grant codeBase "file<yourFile>TrabalhoFinal" {
    permission java.net.SocketPermission "localhost:*", "connect,resolve";
    permission java.security.AllPermission;
};
