grant codeBase "file:<yourFile>TrabalhoFinal" {
    permission java.net.SocketPermission "localhost:*", "connect, resolve";
    permission java.net.SocketPermission "localhost:*", "accept";
    permission java.security.AllPermission;
}; 
